#header {
    background: url(../images/moviespic.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
} 

.rightSide {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #d2d1cd;
    
}

@font-face{
    font-family: "Kaushan";
    src: url("../images/font/KaushanScript-Regular.otf");
}

#chattingCol{
    background-color: #4CAF50;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


#messageArea{
    background-color:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    border-radius: 20px;
    /* width: 15em; */
    height: 17em;
    overflow: scroll;
}

#chatHere{
    font-family: "Kaushan";
    text-align: center;
    font-size: 2em;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

textarea{
    border-radius: 10px;
    
}

#submitButton {
    padding: 7.5px 12.5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(17, 9, 9);
    background-color: rgb(248, 236, 62);
    border: none;
    border-radius: 7.5px;
    box-shadow: 0 4.5px #999;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  #submitButton:hover {background-color: #3e8e41}

  #submitButton:active {
    background-color: #3e8e41;
    box-shadow: 0 2.5px #666;
    transform: translateY(2px);
  } 



.belowNav{
    background-color: #d3d0c3;
}

.col-md-12{
    padding-right: 0px;
}

#inputMovie, #searchButton {
    margin-right: 15px;
}

.buttonBox {
    /* background-color: blueviolet;*/
    /* margin-top:160px; */
    padding-top:45px;
    font-weight: bold;
    text-align: center;
    overflow-y: scroll;
    background-color: #cfcdc4;
} 

.youtubeBox {
    /* background-color: rgb(224, 160, 62); */
    /* opacity: 0.9; */
    /* margin-top:160px;  */
    padding-top:10px;
    font-weight: bold;
    text-align: center;
    background-color: #d3d0c3;
    /* overflow-y: scroll;
    height:500px; */
    
}

.movieInfo {
    text-align: left;
    padding-left:37px;
    padding-right: 15px;
    
}

.topNews {
    height: 1000px;
    overflow-y: scroll;
    padding-right:33px;
    background-color: #d2d1cd;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 100px;
    
}

.nowPlayingButton {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 3px;
}

.newsDivTitle {
    font-size: 12px;
}

.newsDate{
    margin-top:20px;
    font-size: 10px;
}

.newsDivContent {
    margin-top:5px;
    font-size: 12px;
}


.newsImage{
    width:280px;
    height:200px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.nowPlayingButton:hover {
    background-color: #dacfa2;
    color: #1e95da;
    font-display: auto;
    font-weight: bolder;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: auto;
    padding-bottom: -30px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e4dfb4, 0 0 30px #dbd5b9, 0 0 40px #cfce98, 0 0 55px #cccb81, 0 0 75px #cfc886;
} 


#nowPlaying {
    margin-left:10px;
    /* font-size: 1.5vw; */
    /* margin-top:122px; */
}

#name {
    font-size: 10vw;
    color: #ffffff;
    font-display: auto;
    font-weight: bolder;
    font-family: 'Neon', Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

#footer {

    background: url(../images/) repeat center center; 
    -webkit-background-size: contain;
    -moz-background-size:  contain;
    -o-background-size:  contain;
    background-size:  contain;  
    
    text-align: center;
    font-size: 2vw;
    color: #ffffff;
    font-display: auto;
    font-weight: bolder;
    font-family: 'Neon', Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;

   
}

#youtube {
    width:55vw;
    height:30vw;
    /* width:500px;
    height:300px; */
}

.info{
    font-weight: normal;
}

.doubleClick {
    text-align: center;
}

@media only screen and (max-width:640px) {
    /* Youtube Box For mobile phones: */
     #youtube {
        width:90vw;
        height:52vw;
    } 
    .movieInfo {
        text-align: left;
        padding-left:25px;
        padding-right: 10px;
    }
    .topNews {
        margin-left: 10px;
    }
    #chattingCol{
        padding-left: 30px;
    }

}

@media only screen and (max-width:767px) {
    /* Youtube Box For mobile phones: */
     #youtube {
        width:100vw;
        height:70vw;
        padding-left: 10px;
    } 
    .movieInfo {
        text-align: left;
        padding-left:25px;
        padding-right: 10px;
        padding-left: 20px;
    }
    .topNews {
        margin-left: 10px;
        padding-left: 20px;
    }

    #chattingCol{
        padding-left: 30px;
    }



}


.movieNewsContainer{
    padding: 35px;
    overflow-y: scroll;
    height:586px;
}
.movieNewsDate{
    margin-top:20px;
    font-size: 10px;
    text-align: left;
}
.movieNewsImage{
    width:280px;
    height:200px;
    text-align: left;
}
.movieNewsContent{
    text-align: left;
    margin-top:5px;
    font-size: 12px;

}
.movieNewsTitle{
    font-size: 12px;
    text-align: left;
} 