.buttonBox {
    /* background-color: blueviolet; */
}

.youtubeBox {
    background-color: rgb(43, 226, 165);
}

.lastChecked {
    background-color: rgb(226, 147, 43);
}

#genres {
    margin-left: 10px;
    margin-bottom: 10px;
}

#genres {
    margin-left: 10px;
    margin-bottom: 10px;
}